/* Light theme */
:root {
  --color-primary: #003B95;
  --color-primary-light: #006CE4;
  --color-primary-dark: #00264D;
  
  --color-secondary: #0071C2;
  --color-secondary-light: #0288EE;
  --color-secondary-dark: #005799;
  
  --color-background: #F5F5F5;
  --color-background-alt: #FFFFFF;
  
  --color-text: #262626;
  --color-text-light: #6B6B6B;
  --color-text-inverse: #FFFFFF;
  
  --color-border: #E5E7EB;
  --color-border-light: #F3F4F6;
  
  --color-accent: #FEBB02;
  --color-accent-light: #FFF6E6;
  --color-accent-dark: #E5A800;
}

/* Dark theme */
.dark {
  --color-primary: #60A5FA;
  --color-primary-light: #93C5FD;
  --color-primary-dark: #2563EB;
  
  --color-secondary: #60A5FA;
  --color-secondary-light: #93C5FD;
  --color-secondary-dark: #2563EB;
  
  --color-background: #111827;
  --color-background-alt: #1F2937;
  
  --color-text: #F9FAFB;
  --color-text-light: #9CA3AF;
  --color-text-inverse: #F9FAFB;
  
  --color-border: #374151;
  --color-border-light: #4B5563;
  
  --color-accent: #FBBF24;
  --color-accent-light: #292524;
  --color-accent-dark: #F59E0B;
}